<span ng-init="userSteps(currentUser._id)"></span>
<h1>{{currentUser.username}}'s Steps</h1>
<div class="alert alert-info" ng-show="message">
    {{message}}
</div>
<div class="alert alert-danger" ng-show="error">
    {{error}}
</div>

<div class="table-responsive col-md-12">
    <table class="table">
        <thead>
        <tr class="col-md-12">
            <th>#</th>
            <th>Name</th>
            <th>Application</th>
            <th>Content</th>
            <th>Actions</th>
            <th>Last update</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="step in userSteps.data">
            <td>{{ $index + 1 }}</td>
            <td>{{ step.name }}</td>
            <td>{{ step.applicationName }}</td>
            <td><textarea title="step-content" cols="50" rows="3" style="resize: none;">{{ step.content }}</textarea></td>
            <td><button class="btn btn-primary btn-block">Update Step</button><button class="btn btn-danger btn-block">Remove Step</button></td>
            <td>{{ step.updatedOn | date:'d/M/yy H:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
</div>