<span ng-init="devicesList()"></span>

<div class="alert alert-danger" ng-show="error">
    {{error}}
</div>

<div class="table-responsive col-md-12">
    <table class="table">
        <thead>
        <tr class="col-md-12">
            <th>#</th>
            <th>Name</th>
            <th>Android ver</th>
            <th>Producent</th>
            <th>Y/o production</th>
            <th ng-show="currentUser">Appium port</th>
            <th>State</th>
            <th ng-show="currentUser">Last update</th>
            <th ng-show="currentUser">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devicesList.data" ng-if="device.state != 'Offline' || currentUser">
            <td>{{ $index + 1 }}</td>
            <td>{{ device.name }}</td>
            <td>{{ device.androidVer }}</td>
            <td>{{ device.producent }}</td>
            <td>{{ device.yearOfProduction }}</td>
            <td ng-show="currentUser">{{ device.appiumPort }}</td>
            <td>{{ device.state }}</td>
            <td ng-show="currentUser">{{ device.updatedOn | date:'d/M/yy H:mm:ss'}}</td>
            <td ng-show="currentUser"><button class="btn btn-primary">Update Device</button> <button class="btn btn-danger">Remove Device</button></td>
        </tr>
        </tbody>
    </table>
</div>