<span ng-init="devicesList()"></span>
<span ng-init="userGemfiles(currentUser._id)"></span>
<span ng-init="userSteps(currentUser._id)"></span>

<h1>New spec run</h1>

<div class="alert alert-info" ng-show="message">
    {{message}}
</div>
<div class="alert alert-danger" ng-show="error">
    {{error}}
</div><form>
    <input title="Run name" data-ng-model="runName">
    <select title="Device" data-ng-options="d.name for d in devicesList" data-ng-model="selectedDevice"></select>
    <select title="Gemfile" data-ng-options="g.name for g in userGemfiles" data-ng-model="selectedGemfile"></select>
    <select title="Step" data-ng-options="s.name for s in userSteps" data-ng-model="selectedStep"></select>
    <button ng-click="runTest()" class="btn btn-primary btn-block">Run</button><br/>
    <button ng-click="run_test(currentUser._id)" class="btn btn-primary btn-block">Run FULL</button><br/>
</form>
