<h1>Profile</h1>
<div class="alert alert-danger" ng-show="error">
    {{error}}
</div>
<form>
    Username
    <input ng-model="currentUser.username" class="form-control" placeholder="username"/>
    First Name
    <input ng-model="currentUser.firstName" class="form-control" placeholder="Name" autocomplete='given-name'/>
    Last Name
    <input ng-model="currentUser.lastName" class="form-control" placeholder="Surname" autocomplete='family-name'/>
    Email
    <input ng-model="currentUser.email" class="form-control" placeholder="email" type="email" autocomplete='email'/>
    <button ng-click="update(currentUser)" class="btn btn-primary btn-block">Update</button>
</form>
<div class="alert alert-info" ng-show="message">
    {{message}}
</div>
